@model movApp.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            <img class="img-thumbnail" src="~@Model.PathImg" asp-append-version="true">
        </div>
        <div style="padding-left:20px" class="col-sm-10">
            <div class="row">
                <div class="col-sm-2"> Год выпуска: </div>
                <div class="col-sm-6">  @Html.DisplayFor(model => model.Year) </div>
            </div>
            <div class="row">
                <div class="col-sm-2"> Режисер: </div>
                <div class="col-sm-6">  @Html.DisplayFor(model => model.Director) </div>
            </div>
            <div class="row">
                <div class="col-sm-12"></div>
                
            </div>
            <div style="padding-top:30px" class="row">
                <div class="col-sm-8"> @Html.DisplayFor(model => model.Description) </div>
            </div>
        </div>
    </div>

    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
</div>

